h1.contact-page {
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-floating .form-control-lg {
    height: auto; /* Ensures the textarea height adjusts correctly */
}

textarea.form-control-lg {
    border: 2px solid black
}